body{
  background-color: #f3f3fb;
}
@media (min-width:584px){

  body{
    overflow-x:hidden;
  }
  .top-black-bar-section{
      background-color:black;
      height: 45px;
  }
  .top-black-bar{
    color:#FFFFFF;
    font-size: 20px;
    text-align: center;
    margin: auto;
    width: 90%;
    padding-top: 5px;
  }
  .fa-close{
    float: left;
    padding-top: 5px;
  }
  .second-row-section{
    width: 100%;
  }
  .second-row{
    width: 95%;
    margin: auto;
  }
  .AJ-profile{
    background-color: #E9F1FA;
    width: 100px;
    height: 100px;
    padding-top:20px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: red;
    border-radius: 100%;
    margin: auto;
    margin-top: 50px;
  }
  .profile-name{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
  }
  .profile-no{
    color: #1D77FF;
    text-align: center;
  }
  .powered{
    margin: auto;
    text-align: center;
    width: 150px;
    justify-content: center;
    align-items: center;
    display:block;
  }
  .profile-update{
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    display: block;
  }
  .profile-column{
    background-color:#FFFFFF;
    box-shadow: 0px 10px 20px #0000000F;
    border-radius: 5px 0px 0px 5px;
    padding: 0px 50px 0px 50px;
  }
  .profile-update-button{
    width: 230px;
    height: 70px;
    font-size: 30px;
    border-radius: 40px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 40px;
  }

  .contact-column{
    background-color:#FFFFFF;
    box-shadow: 0px 10px 20px #0000000F;
    border-radius: 5px 0px 0px 5px;
  }

  .contact-heading{
    font-size: 20px;
    font-weight: bold;

    margin-bottom: 30px;
  }
  .contact-phn{
    font-size: 15px;
  }
  .contact-phn img{
    width: 20px;
    margin-right: 10px;
  }
  .contact-mail{
    font-size: 15px;
  }
  .contact-mail img{
    width: 20px;
    margin-right: 10px;
  }
  .contact-aniversary{
    font-size: 20px;
    font-weight: bold;
    margin-top: 45px;
    margin-bottom: 30px;
  }
  .contact-date{
    font-size: 15px;
  }
  .contact-date img{
    width: 20px;
    margin-right: 10px;
  }
  .contact-anniversary-date{
    font-size: 15px;
  }
  .contact-anniversary-date img{
    width: 20px;
    margin-right: 10px;
  }

  .contact-details{
    margin-left: 20px;
    margin-top: 50px;
    padding:0px 10px 0px 10px;
  }
  .contact-more{
    color: #1D77FF;
    margin-top: 40px;
    text-decoration: underline;
    cursor: pointer;
  }
  .contact-more img{
    width: 15px;
  }
  .contact-teir-div{
    background-image: url('img/Group 31@2x.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 40px;
    padding: 40px;
  }
  .contact-teir-div-content{
    width: 50%;
    float: right;
  }
  .aa{
    line-height:0.8;
  }
  .ab{
    font-size:18px;
    font-weight:500;
    color:#CFD6DE;
  }
  .ac{
    font-size:50px;
    font-weight:500;
    color:white;
  }
  .ae{
    font-size:18px;
    font-weight:500;
    color:white;
  }

  .bb{
    margin-top:30px;
  }
  .bc{
    padding-top:5px;
  }
  .bd{
    margin-top:30px;
    line-height:1;
  }
  .third-section{
    width: 100%;
  }

  .third-row{
    width: 95%;
    margin: auto;
    border-radius: 5px 5px 0px 0px;
  }

  .money-green{
    color: #2ACB1F;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
  }
  .money-point{
    text-align: center;
  }
  .money-current{
    font-size: 20px;
    text-align: center;
    background-color: #ABBAD321;
    padding: 10px 0px 5px 0px;
    font-weight: 500;
  }
  .green-border{
    border-left:15px solid #65DD5D;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .money-red{
    color:#FF0513;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
  }
  .red-border{
    border-left:15px
    solid #FF0513;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .redeemable{
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
  }
  .gradient{
     background-image: linear-gradient(to right, #BAC7D6,#E9F1FA,#F6B58D);
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    height: 170px;
    padding: 15px 0px 10px 0px;
    border-radius: 5px;
  }
  .level-outer{
    height: 25px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin: auto;
  }
  .level-inner{
    width: 35%;
    height: 25px;
    background-color: #CD202A;
    border-radius: 20px;
  }
  .silver-name{
    font-size: 25px;
    font-weight: bold;
    float: left;
  }
  .level-total{
    margin: auto;
    width: 90%;
  }
  .gold-name{
    float: right;
  }
  .Loyalty{
    font-size: 22px;
    font-weight: bold;
  }
  .see-teir{
    color: #1D77FF;
    text-decoration: underline;
    font-size: 20px;
    position:relative;
    top:-50px;
    float: right;
    cursor: pointer;
  }
  .under-level{
    margin: 25px 0px 5px 0px;
  }
  .earn{
    margin-top: 40px;
    color: #131010CC;
    font-size: 22px;
  }
  .under-earn{
    color: #131010;
    font-size: 22px;
  }
  .bonuses-available{
    margin-top: 30px;
    font-size: 20px;
    color: #1D77FF;
    text-decoration: underline;
    cursor: pointer;
  }
  .down-first{
    box-shadow: 0px 10px 20px #0000000F;
    margin-top: 20px;
    background-color: white;
    float: right;
    padding: 0px 25px 0px 15px;
    margin-right: 10px;
  }
  .transaction-button button{
    margin:40px 20px 10px 20px;
    width: 308px;
    height: 63px;
    border-radius: 40px;
    font-weight: 500;
    font-size: 20px;
  }
  .transaction-button{
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    margin-bottom: 20px;
  }

  .vouchers{
    box-shadow: 0px 10px 20px #0000000F;
    background-color: white;
    margin-top: 20px;
    margin-left: 10px;
  }
  .discounts{
    text-align: center;
    font-weight:bold;
    font-size: 25px;
    margin-top: 30px;
  }
  .vouchers-img{
      margin: auto;
      background-color:#c20c0c;
      width: 70%;
  }
  .voucher-img-margin{
    margin-top: 110px;
  }
  .vouchers-img{
    margin-top: 50px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 10px;
  }
  .vouchers-img-heading{
  font-weight: bold;
  font-size: 25px;
  padding-top: 5px;
  }
  .vouchers-img-content{
    width: 75%;
    margin: auto;
    padding-bottom: 30px;
  }
  .white-circle{
    width: 70px;
    height: 70px;
    background-color: white;
    display:flex;
    border-radius: 100%;
    position: absolute;
    margin-top: -15px;
    margin-left: -30px;
  }
  .white-circle1{
    width: 70px;
    height: 70px;
    background-color: white;
    display:flex;
    border-radius: 100%;
    position: absolute;
    margin-left: 61%;
    margin-top: -17px;
  }
  .more-information{
    text-align: center;
    font-weight: bold;
  }
  .modal-body-bold{
    font-weight: 500;
    font-style: 50px;
    width: 250px;
  }
  .modal-table td{
    padding: 10px 0px 5px 10px;
  }
  .modal-lg{
    max-width: 650px;
  }
  .modal-content{
    padding-bottom: 10px;
    padding-top: 10px;
  }


  .bonuses-available-red{
    color: red;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
  }
  .bonus-table{
    width: 100%;
  }
  .bonus-table td{
    border: 3px dashed lightgrey;
    font-size: 25px;
    padding: 20px 20px 20px 20px;
    font-weight: 500;
  }
  .bonus-center-table{
    text-align: center;
    width: 300px;
  }
  .bonus-modal{
    padding: 100px;
  }
  .bonus-dialog{
    max-width: 1250px;
  }


  .transaction-dialog{
    max-width: 1200px;
  }
  .transaction-table{
    margin: auto;
    width: 100%;
    text-align: center;
  }
  .transaction-body td{
    border: 3px dashed lightgrey;
    font-size: 22px;
    text-align: center;
    padding: 10px 0px 10px 0px;
  }
  .transaction-history-red{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    color: red;
    margin: 10px auto 30px auto;
  }
  .transaction-table-black-background{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
  }
  .transaction-point{
    color:#16c93d;
    font-weight: 500;
  }
  .transaction-receipt{
    color: #1D77FF;
    cursor: pointer;
    text-decoration: underline;
    font-weight: 500;
  }
  .transaction-date{
    font-weight: normal;
  }
  .transaction-amount{
    font-weight: 500;
  }
  .transaction-button-modal button{
    border-radius: 20px;
    margin: 20px 5px 20px 5px;
    width: 150px;
    float: right;
  }
  .transaction-no{
    font-weight: 500;
  }



  .teir-dialog{
    max-width: 1000px;
  }
  .teir-table{
    margin: auto;
    width: 100%;
    text-align: center;
  }
  .teir-body td{
    border: 3px dashed lightgrey;
    font-size: 20px;
    text-align: center;
    padding: 10px 10px 10px 10px;
  }
  .teir-table-black-background{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
  }
  .teir-table-black-background td{
  padding: 10px 0px 10px 0px;

  }
  .teir-point{
    font-weight: 500;
  }
  .teir-receipt{
    font-weight: 500;
  }
  .teir-date{
    font-weight: 500;
  }
  .teir-amount{
    font-weight: 500;
  }
  .teir-no{
    font-weight: 500;
  }
  .teir-modal{
    padding: 40px;
  }
  .profile-update-button{
    width: 230px;
    height: 70px;
    font-size: 30px;
    border-radius: 40px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 40px;
  }

  .form-modal input{
    height: 50px;
    width: 100%;
    background-color:#e9e6ed;
  }
  .form-dialog{
    max-width: 800px;
  }
  .form-modal-total-div{
    margin-top: 30px;
  }
  .form-modal{
    padding: 20px 60px 30px 60px;;
  }
  .additional-information{
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
  }
  .modal-form-bottom-p{
    text-align: center;
    color: grey;
  }
  .modal-form-button button{
    width: 110px;
    border-radius: 30px;
    margin: 0px 5px 0px 5px;
  }
  .modal-form-button{
    text-align: center;
    margin-top: 30px;
  }
}






@media (max-width:583px) {

    body{
      overflow-x:hidden;
    }
    .top-black-bar-section{
        background-color:black;
        height: 45px;
    }
    .top-black-bar{
      color:#FFFFFF;
      font-size: 20px;
      text-align: center;
      margin: auto;
      width: 90%;
      padding-top: 5px;
    }
    .fa-close{
      float: left;
      padding-top: 5px;
    }
    .second-row-section{
      width: 100%;
    }
    .second-row{
      width: 95%;
      margin: auto;
    }
    .AJ-profile{
      background-color: #E9F1FA;
      width: 100px;
      height: 100px;
      padding-top:20px;
      text-align: center;
      font-size: 35px;
      font-weight: bold;
      color: red;
      border-radius: 100%;
      margin: auto;
      margin-top: 50px;
    }
    .profile-name{
      font-size: 28px;
      font-weight: bold;
      text-align: center;
      padding-top: 10px;
    }
    .profile-no{
      color: #1D77FF;
      text-align: center;
    }
    .powered{
      margin: auto;
      text-align: center;
      width: 150px;
      justify-content: center;
      align-items: center;
      display:block;
    }
    .profile-update{
      justify-content: center;
      align-items: center;
      margin: auto;
      text-align: center;
      display: block;
    }
    .profile-column{
      background-color:#FFFFFF;
      box-shadow: 0px 10px 20px #0000000F;
      border-radius: 5px 0px 0px 5px;
      padding: 0px 50px 0px 50px;
    }
    .profile-update-button{
      width: 230px;
      height: 70px;
      font-size: 30px;
      border-radius: 40px;
      display: block;
      margin: auto;
      margin-bottom: 20px;
      margin-top: 40px;
    }

    .contact-column{
      background-color:#FFFFFF;
      box-shadow: 0px 10px 20px #0000000F;
      border-radius: 5px 0px 0px 5px;
    }

    .contact-heading{
      font-size: 20px;
      font-weight: bold;

      margin-bottom: 30px;
    }
    .contact-phn{
      font-size: 15px;
    }
    .contact-phn img{
      width: 20px;
      margin-right: 10px;
    }
    .contact-mail{
      font-size: 15px;
    }
    .contact-mail img{
      width: 20px;
      margin-right: 10px;
    }
    .contact-aniversary{
      font-size: 20px;
      font-weight: bold;
      margin-top: 45px;
      margin-bottom: 30px;
    }
    .contact-date{
      font-size: 15px;
    }
    .contact-date img{
      width: 20px;
      margin-right: 10px;
    }
    .contact-anniversary-date{
      font-size: 15px;
    }
    .contact-anniversary-date img{
      width: 20px;
      margin-right: 10px;
    }

    .contact-details{
      margin-left: 20px;
      margin-top: 50px;
      padding:0px 10px 0px 10px;
    }
    .contact-more{
      color: #1D77FF;
      margin-top: 40px;
      text-decoration: underline;
      cursor: pointer;
    }
    .contact-more img{
      width: 15px;
    }


    .contact-teir-div{
      background-image: url('img/Group 31@2x.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .contact-teir-div-content{
      width: 50%;
      float: right;
    }
    .aa{
      line-height:0.8;
      margin-top: 15px;
    }
    .ab{
      font-size:15px;
      font-weight:500;
      color:#CFD6DE;
    }
    .ac{
      font-size:25px;
      font-weight:500;
      color:white;
    }
    .ae{
      font-size:15px;
      font-weight:500;
      color:white;
    }
    .bb{
      margin-top:10px;
    }
    .bc{
      padding-top:5px;
    }
    .bd{
      margin-top:10px;
      line-height:1;
    }
    .third-section{
      width: 100%;
    }

    .third-row{
      width: 95%;
      margin: auto;
      border-radius: 5px 5px 0px 0px;
    }

    .money-green{
      color: #2ACB1F;
      font-size: 55px;
      font-weight: bold;
      text-align: center;
    }
    .money-point{
      text-align: center;
    }
    .money-current{
      font-size: 20px;
      text-align: center;
      background-color: #ABBAD321;
      padding: 10px 0px 5px 0px;
      font-weight: 500;
    }
    .green-border{
      border-left:15px solid #65DD5D;
      margin-left: 0;
      padding-left: 0;
      padding-right: 0;
    }

    .money-red{
      color:#FF0513;
      font-size: 55px;
      font-weight: bold;
      text-align: center;
    }
    .red-border{
      border-left:15px
      solid #FF0513;
      margin-left: 0;
      padding-left: 0;
      padding-right: 0;
    }

    .redeemable{
      font-size: 25px;
      font-weight: bold;
      margin-top: 10px;
    }
    .gradient{
       background-image: linear-gradient(to right, #BAC7D6,#E9F1FA,#F6B58D);
      font-size: 25px;
      text-align: center;
      font-weight: bold;
      height: 170px;
      padding: 15px 0px 10px 0px;
      border-radius: 5px;
    }
    .level-outer{
      height: 25px;
      background-color: #FFFFFF;
      border-radius: 20px;
      margin: auto;
    }
    .level-inner{
      width: 35%;
      height: 25px;
      background-color: #CD202A;
      border-radius: 20px;
    }
    .silver-name{
      font-size: 25px;
      font-weight: bold;
      float: left;
    }
    .level-total{
      margin: auto;
      width: 90%;
    }
    .gold-name{
      float: right;
    }
    .Loyalty{
      font-size: 22px;
      font-weight: bold;
    }
    .see-teir{
      color: #1D77FF;
      text-decoration: underline;
      font-size: 20px;
      cursor: pointer;
    }
    .under-level{
      margin: 25px 0px 5px 0px;
    }
    .earn{
      margin-top: 40px;
      color: #131010CC;
      font-size: 22px;
    }
    .under-earn{
      color: #131010;
      font-size: 22px;
    }
    .bonuses-available{
      margin-top: 30px;
      font-size: 20px;
      color: #1D77FF;
      text-decoration: underline;
      cursor: pointer;
    }
    .down-first{
      box-shadow: 0px 10px 20px #0000000F;
      margin-top: 20px;
      background-color: white;
      float: right;
      padding: 0px 10px 0px 15px;
      margin-right: 0px;
    }
    .transaction-button button{
      margin:20px auto 10px auto;
      width: 308px;
      height: 63px;
      border-radius: 40px;
      font-weight: 500;
      font-size: 20px;
    }
    .transaction-button{
      text-align: center;
      margin-bottom: 20px;
    }

    .vouchers{
      box-shadow: 0px 10px 20px #0000000F;
      background-color: white;
      margin-top: 20px;
      margin-left: 0px;
      padding-bottom: 50px;
    }
    .discounts{
      text-align: center;
      font-weight:bold;
      font-size: 25px;
      margin-top: 30px;
    }
    .vouchers-img{
        margin: auto;
        background-color:#c20c0c;
        width: 70%;
    }
    .voucher-img-margin{
      margin-top: 110px;
    }
    .vouchers-img{
      margin-top: 50px;
      text-align: center;
      color: #FFFFFF;
      padding-top: 10px;
    }
    .vouchers-img-heading{
    font-weight: bold;
    font-size: 25px;
    margin-top: -10px;
    }
    .vouchers-img-content{
      width: 75%;
      height: 120px;
      margin: auto;
      padding-bottom: 30px;
      font-size: 15px;
      margin-top: -15px;
    }
    .white-circle{
      width: 70px;
      height: 70px;
      background-color: white;
      display:flex;
      border-radius: 100%;
      position: absolute;
      margin-top: -15px;
      margin-left: -45px;
    }
    .white-circle1{
      width: 70px;
      height: 70px;
      background-color: white;
      display:flex;
      border-radius: 100%;
      position: absolute;
      margin-left: 61%;
      margin-top: -17px;
    }

      .more-information{
        text-align: center;
        font-weight: bold;
      }
      .modal-body-bold{
        font-weight: 500;
        font-style: 50px;
        width: 250px;
      }
      .modal-table td{
        padding: 10px 0px 5px 10px;
      }
      .modal-lg{
        max-width: 650px;
      }
      .modal-content{
        padding-bottom: 10px;
        padding-top: 10px;
      }


      .bonuses-available-red{
        color: red;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
      }
      .bonus-table{
        width: 100%;
      }
      .bonus-table td{
        border: 3px dashed lightgrey;
        font-size: 15px;
        padding: 10px 10px 10px 10px;
        font-weight: 500;
      }
      .bonus-center-table{
        text-align: center;
        width: 20px;
      }
      .bonus-modal{
        padding: 10px;
      }
      .bonus-dialog{
        max-width: 1250px;
      }


      .transaction-dialog{
        max-width: 1200px;
      }
      .transaction-table{
        margin: auto;
        width: 100%;
        text-align: center;
      }
      .transaction-body td{
        border: 3px dashed lightgrey;
        font-size: 10px;
        text-align: center;
        padding: 5px 0px 5px 0px;
      }
      .transaction-history-red{
        font-size: 25px;
        text-align: center;
        font-weight: bold;
        color: red;
        margin: 5px auto 20px auto;
      }
      .transaction-table-black-background{
        background-color: black;
        color: white;
        text-align: center;
        font-size: 10px;
      }
      .transaction-point{
        color:#16c93d;
        font-weight: 500;
      }
      .transaction-receipt{
        color: #1D77FF;
        cursor: pointer;
        text-decoration: underline;
        font-weight: 500;
      }
      .transaction-date{
        font-weight: normal;
      }
      .transaction-amount{
        font-weight: 500;
      }
      .transaction-button-modal button{
        border-radius: 20px;
        margin: 20px 5px 5px 5px;
        float: right;
      }
        .transaction-button-modal{
          margin-top: 10px;
        }
      .transaction-no{
        font-weight: 500;
      }



      .teir-dialog{
        max-width: 1000px;
      }
      .teir-table{
        margin: auto;
        width: 100%;
        text-align: center;
      }
      .teir-body td{
        border: 3px dashed lightgrey;
        font-size: 10px;
        text-align: center;
        padding: 5px 5px 5px 5px;
      }
      .teir-table-black-background{
        background-color: black;
        color: white;
        text-align: center;
        font-size: 7px;
      }
      .teir-table-black-background td{
      padding: 5px 5px 5px 5px;

      }
      .teir-point{
        font-weight: 500;
      }
      .teir-receipt{
        font-weight: 500;
      }
      .teir-date{
        font-weight: 500;
      }
      .teir-amount{
        font-weight: 500;
      }
      .teir-no{
        font-weight: 500;
      }
      .teir-modal{
        padding: 5px;
      }
      .profile-update-button{
        width: 230px;
        height: 70px;
        font-size: 30px;
        border-radius: 40px;
        display: block;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 40px;
      }
      .form-modal input{
        height: 50px;
        width: 100%;
        background-color:#e9e6ed;
        font-size: 11px;
      }
      .form-dialog{
        max-width: 1050px;
      }
      .form-modal-total-div{
        margin-top: 30px;
      }
      .form-modal{
        padding: 0px 10px 10px 10px;
        margin-top: -10px;
      }
      .additional-information{
        font-size: 15px;
        font-weight: bold;
        margin-top: 30px;
      }
      .modal-form-bottom-p{
        text-align: center;
        color: grey;
        font-size: 10px;
      }
      .modal-form-button button{
        width: 110px;
        border-radius: 30px;
        margin: 0px 5px 0px 5px;
      }
      .modal-form-button{
        text-align: center;
        margin-top: 30px;
      }
}
@media (max-width:1255px) and (min-width:990px) {

  .aa{
    line-height:0.8;
    margin-top: 15px;
  }
  .ab{
    font-size:15px;
    font-weight:500;
    color:#CFD6DE;
  }
  .ac{
    font-size:25px;
    font-weight:500;
    color:white;
  }
  .ae{
    font-size:15px;
    font-weight:500;
    color:white;
  }
  .bb{
    margin-top:10px;
  }
  .bc{
    padding-top:5px;
  }
  .bd{
    margin-top:10px;
    line-height:1;
  }

  .contact-teir-div-content{
    width: 60%;
    float: right;
  }
  .contact-teir-div{
    background-image: url('img/Group 31@2x.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.modal{
  overflow-y: auto;
}
