body{
  background-color: #F3F3FB;
}
.top-black-bar{
  width: 95%;
  margin: auto;
}
.top-black{
  background-color:black;
  color:#FFFFFF;
  padding: 10px 0px 1px 0px;
  font-size: 20px;
  width: 100%;
}
/* .qq{
  display: flex;
} */
/* .rr{
  display: flex;
} */
/*
.fa-close{
  float: left;
}
.top-black p{
  text-align: center; */
/* }
.second-row{
  width: 95%;
  margin: auto; */
/* }
.AJ-profile{
  background-color: #E9F1FA;
  width: 100px;
  height: 100px;
  padding-top:20px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: red;
  border-radius: 100%;
  margin: auto;
  margin-top: 50px;
}
.profile-name{
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}
.profile-no{
  color: blue;
  text-align: center;
}
.powered{
  margin: auto;
  text-align: center;
  width: 150px;
  justify-content: center;
  align-items: center;
  display:block;
}
.profile-update{
  justify-content: center;
  align-items: center;
  margin: auto;
  text-align: center;
  display: block;
}
.profile-column{
  background-color:#FFFFFF;
  box-shadow: 0px 10px 20px #0000000F;
  border-radius: 5px 0px 0px 5px;
  padding: 0px 50px 0px 50px;
}
.contact-column{
  background-color:#FFFFFF;
  box-shadow: 0px 10px 20px #0000000F;
  border-radius: 5px 0px 0px 5px; */
/* }
.contact-heading{
  font-size: 20px;
  font-weight: bold;

  margin-bottom: 30px;
}
.contact-phn{
  font-size: 15px;
}
.contact-phn img{
  width: 20px;
  margin-right: 10px;
}
.contact-mail{
  font-size: 15px;
}
.contact-mail img{
  width: 20px;
  margin-right: 10px;
}
.contact-aniversary{
  font-size: 20px;
  font-weight: bold;
  margin-top: 45px;
  margin-bottom: 30px;
}
.contact-date{
  font-size: 15px;
}
.contact-date img{
  width: 20px;
  margin-right: 10px;
}
.contact-anniversary-date{
  font-size: 15px;
}
.contact-anniversary-date img{
  width: 20px;
  margin-right: 10px;
}
.contact-details{
  margin-left: 30px;
  margin-top: 50px;
  padding-left: 20px;
}
.contact-more{
  color: blue;
  margin-top: 40px;
  text-decoration: underline;
  cursor: pointer;
}
.contact-more img{
  width: 15px;
}
.contact-tier{
  width: 610px;
  margin: auto;
  margin-top: 30px
}
.contact-teir-div{
  margin: 0px 120px 0px 80px;
} */
