.form-modal input{
  height: 50px;
  width: 100%;
  background-color:#e9e6ed;
}
.form-dialog{
  max-width: 900px;
}
.form-modal{
  padding: 60px;
}
.additional-information{
  font-size: 25px;
  font-weight: bold;
  margin-top: 30px;
}
.modal-form-bottom-p{
  text-align: center;
  color: grey;
}
.modal-form-button button{
  width: 110px;
  border-radius: 30px;
  margin: 0px 5px 0px 5px;
}
.modal-form-button{
  text-align: center;
}
